- provide(:title, "Home")
%div.center.jumbotron
  %h1 Welcome to my sample application!
  %h2 This is my homepage for the #{link_to "Rails Tutorial", "http://railstutorial.org"} sample application.
  =link_to 'Sign up Now!','#', class: 'btn btn-lg btn-primary'
