container_commands:
  01-database_config:
    command: cp config/database.yml.example config/database.yml
  02-bundle_install:
    command: bundle install --path vendor/bundle
  03-db_migrate:
    command: bundle exec rake db:migrate
  04-db_seed:
    command: bundle exec rake db:seed
  05-assets_precompile:
    command: bundle exec rake assets:precompile
  06-chown:
    command: chown -R webapp:webapp ./
